<header>
  <h1>Red Heart Fashion Hub</h1>
  <nav>
    <%= link_to "Home", root_path %> |
    <%= link_to "Products", store_index_path %> |
    <%= link_to "Cart", cart_path %>
  </nav>
  <hr>
</header>
